<h1>Dashboard</h1>
<% if @responsie.nil? %>
<%= link_to "Add Topics", edit_user_registration_path %>
<% else %>
    <% @responsie.each do |r|%>
    <b><i></i><%= r["title"] %></i></b><br />
    <%= r["teaser"].html_safe %><br />
    <%= link_to "read on NPR.org", r["link"][0]["__content__"] %><br /><br/>
    <% end %>
<% end %>