<h1>Topics#index</h1>
<p>Find me in app/views/topics/index.html.erb</p>


<% @topics.each do |n| %>
    <%= check_box_tag n.npr_id, n.name %>
  <%#= check_box_tag "topics[#{topic.name}]",1, if params["topics"]; params[:topics].include?(topic) else return true end %>

      <%= n.name %> <br />
<% end %>
