// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//#header {
////  background-image: url("image.jpg");
//}

//#header > img {
//  width: 100%;
//  height: auto;
//  max-width: 100%;
//}


* {
  padding:0;
  margin:0;
}
html, body {
  height:100%;
}
.header {
  height: 1px;
}
.skrollr-desktop body {
  height:100% !important;
}
//h2 {
//  padding-left: 15%;
//  color: #E69138;
//}
p {
  margin:1em 0;
  display: inline-block;
}
.content {
  text-align: center;
}
.app-label {
  color: #E69138;
}

.app_name {
  color: #E69138;
}
.parallax-image-wrapper {
  position:fixed;
  left:0;
  width:100%;
  overflow:hidden;
}
.parallax-image-wrapper-50 {
  height:50%;
  top:-50%;
}
.parallax-image-wrapper-100 {
  height:100%;
  top:-100%;
}
.parallax-image {
  display:none;
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
}
.parallax-image-50 {
  filter: grayscale(1);
  height:200%;
  top:-50%;
}
.parallax-image-100 {
  filter: grayscale(.8);
  height:100%;
  top:0;
}
.parallax-image.skrollable-between {
  display:block;
}
.no-skrollr .parallax-image-wrapper {
  display:none !important;
}
#skrollr-body {
  height:100%;
  overflow:visible;
  position:relative;
}
.gap {
  background:transparent center no-repeat;
  background-size:cover;
}
.skrollr .gap {
  background:transparent !important;
}
.gap-50 {
  height:50%;
}
.gap-100 {
  height:100%;
}
.header, .content {
  background:#fff;
  padding:1em;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
.content-full {
  height:100%;
}
#done {
  height:100%;
}

img {
  max-width:100%;
  max-height:100%;
  border-radius: .8%;
  margin-bottom: 8%;
  padding: 5%;
  -webkit-filter: grayscale(1);
}

.bottom-titles {
  color: #E69138;
}
